<h2 id='title'>Welcome to Ember.js</h2>
<ul style="position: fixed; top: 0; right: 0; background: pink; padding: 20px">
  <li>{{link-to 'one' 'one'}}</li>
  <li>{{link-to 'two' 'two'}}</li>
  <li>{{link-to 'three' 'three'}}</li>
  <li>{{link-to 'four' 'four'}}</li>
  <li>{{link-to 'five' 'five'}}</li>
  <li>{{link-to 'six' 'six'}}</li>
  <li>{{link-to 'seven' 'seven'}}</li>
  <li>{{link-to 'eight' 'eight'}}</li>
</ul>

{{outlet}}
